@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    line-height: 1.5em;
    color: #7e7e7e;
    
}
.header {
    height: 90px;
    background-color: #3e3e77;
    
}
.slogan{
    color: #ffff;
    text-align: left;
    padding: 30px 0px;
}
.logo{
    width: 100px;
    padding: 20px 40px;
}


.form_items{
    padding: 0 43px;
    background-color: #3c66aa;
    color: #fff;
    text-align: center;
}
input{ height: 50px;
    width: 320px;
    background-color: #3e3e77;
    border: none;
    margin: 5px;
    padding: 15px;
    color: #b9b3b3;
}
.forma {
   background-image: url(image/img-1.jpg);
background-position: center top;
    padding: 60px 0px;
}
.line{
    background-image: url(image/bg-legend.png);
    background-repeat: repeat-x;
   background-position: left, right;
}

.line b{
    text-transform: uppercase;
    display: inline-block;
    font-size: 30px;
    font-weight: 200;
    background-color: #3c66aa;
    padding: 30px 20px 20px;
}
botton{
    display: block;
    width: 280px;
    height: 50px;
    background-color: #3e3e77;
    line-height: 50px;
    font-size: 24px;
    margin: 10px auto;
}
botton:hover{
    cursor:pointer;
}

.fon{
    background-image: url(image/bg-form-foot.png);
    background-repeat: repeat-x;
    height: 100px;
    margin: 10px -60px;
    padding: 25px 85px;
    position: relative;
}
.fon::after, .fon::before{
    content: "";
     border-bottom: 15px solid transparent;
    position: absolute;
    bottom: -15px;
}
.fon::after{
    left: 0px;
    border-right: 17px solid rgb(157, 122, 6);
}
.fon::before{
    border-left: 17px solid rgb(157, 122, 6);
    right: 0px;
}

h1, h2, botton {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    
}
.firstmenu{
    background-image: url(image/01.png);
    padding: 60px;
}
h2{
    color: #3c66aa;
    margin: 10px auto;
    font-weight: bold;
    margin-bottom: 30px;
}
.text{
    font-size: 24px;
    text-align: center;
}
.firstmenu h3{
    color: #3e3e77;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
}
.block img{
    padding: 45px 55px;
}
.block{
    width: 220px;
    height: 190px;
    background-color: #3e3e77;
    background-position: center;
    margin-bottom: 25px;
    position: relative;
}
.block::after{
    content: "";
    border: 15px solid transparent;
    border-top: 15px solid #3e3e77;
    position: absolute;
    bottom: -30px;
    left: 90px;
}
.pic p{
    text-align: center;
    margin-top: 20px;
}
.pic img{
    width: 100%;
}
.about_us {
    padding: 60px;
}
.banner img{
    border-radius: 50%;
    box-shadow: 0 0 10px #f4c810;
    margin: 10px auto;

}
.banner .text{
    color: #3b3939;
    padding: 20px 150px;
    
}
.banner {
    padding: 50px 60px;;
    background-image: url(image/testimonials-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
}
.border{
    display: inline-block;
}
.banner span{
    text-transform: uppercase;
    color: #3b3939;
    font-size: 23px
}
.video, {
    padding: 60px;
}
.video iframe{
    width: 400px;
    height: 320px;
    display: block;
    margin-top: 30px;
}
.video ul{
    list-style-image: url(image/bul-list.png);
    margin-top: 30px;
}
.action{
    padding: 30px 60px 60px;
}
.registration{
    width: 250px;
    background-color: #3c66aa; 
  
    color: #fff;
    line-height: 2.5em;
    font-size: 20px;
   
}
.action ul{
    list-style-type: none;
    text-align: center;
}
.action h3{
    color: #efc40f;
    text-align: center;
    font-size: 35px;
}
.action a{
    color: #ffff;
    text-decoration: none;
}
.email_form{
height: 100px;
    background-color: #f4bd43
    
}
.footer{
    background-color: #000000;
}